
.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  height: 100%;
}

/* .App-header {
  
} */
.displace{
  width: 100%;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-item img {
  max-width: 100%;
}

.panel{
    display: flex;
 
}

.inputData{
  margin: 5rem;
}
.mintBut{
  font-size: 2rem;
  border-radius: 10px;
  background-color: #e9f0ff;
  border-color: #e9f0ff;
  margin: 2rem;
}

.wallet{
  display: flex;
  flex-direction: row;
  margin: 2rem;
}